.unorderli
{
  font-family: courier;
  color: aliceblue;
  background-color:rgb(114, 12, 247);
  padding: 15px;
  margin: 20px;
}
img
  {
  width: 27%;
  height: 400px;
  margin: 20px;
  padding: 20px;
  }
  p{
    margin: 20px;
    padding: 0px 40px 0px;
  }
  input{
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    
  }
  ol{
    margin: 20px;
    padding: 20px;
    font-family: Verdana;
  }
  h2{
    margin: 25px;
    padding: 0px;
  }